<h1>Gallery</h1>

<div class="ui five column grid">
  <div class="column">
    <%= image_tag("curved-roses.jpg", class: "gallery-image") %>
  </div>
  <div class="column">
    <%= image_tag("orange-tropical.jpg", class: "gallery-image") %>
  </div>
  <div class="column">
    <%= image_tag("shoe-valentines-day.jpg", class: "gallery-image") %>
  </div>
  <div class="column">
    <%= image_tag("wedding-flowers.jpg", class: "gallery-image") %>
  </div>
  <div class="column">
    <%= image_tag("red-roses.jpg", class: "gallery-image") %>
  </div>
</div>