<!DOCTYPE html>
<html>
  <head>
    <title>EternalPetals</title>
    <%= stylesheet_link_tag    'less_style_sheet', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div class="ui page grid">

      <div class="main-header">

        <!-- Why doesn't this show? -->
        <h1>Eternal Petals</h1>

        <%= image_tag("order-wedding-flowers.jpg", class: "header-image") %>

        <div class="ui menu header-nav">
          <div class="item">
            <%= link_to "Home", flowers_path %>
          </div>
          <div class="item">
            <%= link_to "Gallery", gallery_path %>
          </div>
          <div class="item">
            <%= link_to "Plans", plan_path %>
          </div>
          <div class="item">
            <%= link_to "Contact", contact_path %>
          </div>
        </div>

      </div>


      <div class="sixteen wide column main-body">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
