<!DOCTYPE html>
<html>
<head>
  <title>EternalPetals</title>
  <%= stylesheet_link_tag    'less_style_sheet', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="main-header">
    <h1>Eternal Petals</h1>

    <%= image_tag("High_res_flowers.jpg", class: "header-image") %>

    <div class="ui menu header-nav">
      <div class="item">
        <%= link_to "Home", flowers_path %>
      </div>
      <div class="item">
        <%= link_to "Gallery", gallery_path %>
      </div>
      <a class="item">Plans</a>
      <a class="item">Contact</a>
    </div>

  </div>
  <%= yield %>

</body>
</html>
